* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.todoList-newTaskForm {
  display: flex;
}

.mainInput {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
}

.input {
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  width: 85%;
}

.btn-title {
  float: right;
}

.todoList {
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 10px;
  transition: all ease .25s;
  padding: 10px;
}

.todoList:hover,
.btn:hover{
  transform: translateY(-2px);
  transition: all ease .25s;
  box-shadow: 2px 2px 5px #cccccc;
}

.btn,
.btn-task{
  float: right;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease .25s;
}

.del-icon {
  margin: 2px 0;
  width: 15px;
  cursor: pointer;
}

.editTitleInput {
  margin: 20px 0;
}

.todoList-header {
  margin-bottom: 20px;
}

.active {
  background: lightblue;
  border-radius: 4px;
}

.todoList-tasks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.todoList-task {
  margin-bottom: 12px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 7px;
  border-radius: 4px;
  transition: all ease .25s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.todoList-task:hover {
  transform: translateY(-5px);
  transition: all ease .25s;
  box-shadow: 2px 2px 5px #cccccc;
}

.task-title {
  border-bottom: 1px solid #cccccc;
}

.todoList-footer button {
  outline: none;
  margin: 0 2px;
}

.todoList-header__title {
  display: inline-block;
}

.todolist-title {
  text-align: center;
}

.highPriority {
  color: red;
}

.mediumPriority {
  color: cornflowerblue;
}

.lowPriority {
  color: mediumseagreen;
}

.noPriority {
  color: black;
}

.error {
  border-color: tomato;
}

.done {
  opacity: 0.5;
}

.todoList-footer {
  margin-bottom: 10px;
}

.filter-buttons {
  margin-top: 7px;
  width: 80%;
}